section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}
button{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
    color: white;
    background: rgb(40, 40, 40);
    transition: background 0.50s ease-out;
}
button:hover{
    background: rgb(98, 95, 192);
} /* Boton dpe */

nav{
    min-height: 10vh;
    background: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.5s ease-out;
    
}
.nav-slide {
    transform: translateY(-100%);
}
p{
    opacity: 1;
    transition: opacity 0.5s ease-out;
}
.fade {
     opacity: 0;
}